<div class="row">
  <div *ngFor="let order of results" class="col-md-4" style="margin: 0px;">
    <div class="card my-2 mx-2">
      <div class="card-header">
        <h2 class="float-left">{{order.service}}</h2>
        <div class="float-right"><button class="btn btn-secondary" ><i class="far fa-edit"></i></button> </div>
        <div class="float-right"><button class="btn btn-danger" (click)="deleteOrder(order)"><i class="fas fa-times"></i></button> </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>Name: <b>{{order.name}}</b></p>
            <p>Email: <b>{{order.email}}</b></p>
            <p>Phone: <b>{{order.phone}}</b></p>
            <p>AddressFrom: <b>{{order.addressFrom}}</b></p>
            <p>AddressTo: <b>{{order.addressTo}}</b></p>
            <p>CustomerId: <b>{{order.customerId}}</b></p>
            <p>OrderId: <b>{{order.orderId}}</b></p>
            <p>Do Date: <b>{{order.doDate}}</b></p>
            <p>Order Date: <b>{{order.orderDate}}</b></p>
            <p>Info: <b>{{order.info}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
