<div class="row">
  <div *ngFor="let result of results" class="col-md-4" style="margin: 0px;">
    <div class="card my-2 mx-2">
      <div class="card-header">
        <h2 class="float-left">{{result.service}}</h2>
        <div class="float-right"><button class="btn btn-danger" (click)="delete(result)">Delete</button> </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>Name: <b>{{result.name}}</b></p>
            <p>Email: <b>{{result.email}}</b></p>
            <p>Phone: <b>{{result.phone}}</b></p>
            <p>AddressFrom: <b>{{result.addressFrom}}</b></p>
            <p>AddressTo: <b>{{result.addressTo}}</b></p>
            <p>CustomerId: <b>{{result.customerId}}</b></p>
            <p>OrderId: <b>{{result.orderId}}</b></p>
            <p>Do Date: <b>{{result.doDate}}</b></p>
            <p>Order Date: <b>{{result.orderDate}}</b></p>
            <p>Info: <b>{{result.info}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
